.operation {
    --start-time: 0;
    --end-time: 0;
    height: 50px;
    width: calc(1% * calc(var(--end-time) - var(--start-time)));
    display: flex;
    align-items: center;
    justify-content: center;
    background: red;

    grid-area: content;
    margin-left: calc(1% * var(--start-time));

    user-select: none;
    cursor: pointer;
}