.operation-container {
    display: grid;
    grid:
        "content" auto / 1fr;
    width: 800px;
}

.operation-track {
    grid-area: content;
    background: rgb(0 0 0 / 15%);
    z-index: -1;
    height: 10px;
    align-self: center;
    border-radius: 50px;
    box-shadow: 0 0 3px rgb(0 0 0 / 25%) inset;
}