.container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.track {
    display: flex;
    position: relative;
}

.operation {
    padding: 8px;
    margin: 0 2px;
    background-color: red;

    cursor: move;

    color: white;
    font-weight: bold;
}